/* Fullscreen center layout */
.details-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #202122, #0a0b0b);
  font-family: "Poppins", sans-serif;
}

/* Card */
.details-card {
  width: 360px;
  padding: 35px 30px;

  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(14px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
}

/* Title */
.details-title {
  text-align: center;
  margin-bottom: 22px;
  font-size: 26px;
  color: white;
  font-weight: 600;
}

/* Inputs */
.details-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;

  border-radius: 10px;
  border: none;

  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 15px;

  outline: none;
}

.details-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

/* Button */
.details-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border-radius: 10px;
  border: none;

  background: white;
  color: #0072ff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.details-btn:hover {
  background: #e9e9e9;
}
